.banner{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 500px;
    
}
.industry{
    background-image: url("../img/1.jpg");
    background-size: cover;
    height: 500px;
}
.pricing{
    background-image: url("../img/1.jpg");
    background-size: cover;
    height: 600px;
}

.h-50{
    height: 50px;
}
.h-110{
   height: 110px;
}
footer{
    background-color: #0E2034;
    color:white
}
.bg-white{
    background-color: white;
}
.text-lightred{
    color:#F3505C;
}
.text-black{
    color: black;
}
.text-blue{
    color:#074685
}
.btn-blue{
    background-color:#074685;
    color:white;
}
.btn-blue:hover{
    background-color:#06417c;
    color:white;
}
.py-10{
 padding-top: 100px;
 padding-bottom: 100px;

}
.border-0{
    border: 0;
}

.m-550{
    margin-left: 550px;
}
